.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.sidebar {
	width: 300px;
	height: 100vh;
	background-color: #f8f9fa;
	padding: 20px;
	position: fixed;
}

.sidebar h2 {
	margin-bottom: 20px;
}

.sidebar ul {
	list-style-type: none;
	padding: 0;
}

.sidebar ul li {
	margin-bottom: 10px;
}

.sidebar ul li a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

.sidebar ul li a:hover {
	color: #007bff;
}

.sidebar ul li.active a {
	color: #007bff;
	/* Change color for the active link */
	font-weight: bolder;
	/* Optionally make it bold */
}

.content {
	margin-left: 220px;
	/* Leaves space for the sidebar */
	padding: 20px;
}

.align-left {
	text-align: left;
}

/* Spinner styles */
.spinner-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 1000;
	/* Ensures the spinner is on top of everything */
}

.spinner {
	border: 8px solid rgba(0, 0, 0, 0.1);
	border-left-color: #007bff;
	/* Blue spinning border */
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 1s linear infinite;
}

.prescription-table {
	margin-top: 20px;
}

.prescription-section {
	margin-bottom: 40px;
}

.table th,
.table td {
	text-align: center;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-left-5 {
	margin-left: 5px;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}